/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Variables
 * - - - - - - - - - - - - - - - - - - - - - - - - */

/* Typography Variables */

$input-font-size:	16px !default;
$print-font-size:	12pt !default;

$typography: (
  base: 24px,
  fonts: (
    ("primary", 'Roboto', sans-serif),
    ("secondary", 'TheHandBold', sans-serif)
  ),
  paragraph: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  ),
  heading-1: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  ),
  heading-2: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  ),
  heading-3: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  ),
  heading-4: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  ),
  heading-5: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  ),
  heading-6: (
    ("all", 					24px),
    ("mobile-small", 	24px),
    ("mobile", 				30px),
    ("phablet", 	 		36px),
    ("tablet", 	 			42px),
    ("narrow", 				48px),
    ("desktop", 	 		54px),
    ("wide-desktop",  60px)
  )
);

/* Colour Variables */

$theme-color-1:		rgba(0,0,0,1);		      /* Black */
$theme-color-2:		rgba(255,255,255,1);		/* White  */

$error-color:     #BD3030;
$success-color:   #38CE31;

/* Responsive Breakpoints */

$mobile-small:		320px !default;
$mobile:					480px !default;
$phablet:					640px !default;
$tablet:					768px !default;
$narrow:					1024px !default;
$desktop:					1280px !default;
$wide-desktop:		1600px !default;

$min-mobile-small:	321px !default;
$min-mobile:				481px !default;
$min-phablet:				641px !default;
$min-tablet:				769px !default;
$min-narrow:				1025px !default;
$min-desktop:				1281px !default;
$min-wide-desktop:	1601px !default;

$breakpoints: (
  ("all", 					0px),
  ("mobile-small", 	$min-mobile-small),
  ("mobile", 				$min-mobile),
  ("phablet", 	 		$min-phablet),
  ("tablet", 	 			$min-tablet),
  ("narrow", 				$min-narrow),
  ("desktop", 	 		$min-desktop),
  ("wide-desktop", 	$min-wide-desktop)
);

$breakpoint-ranges: (
  ("mobile-small-to-mobile", 	$mobile-small,	$mobile),
  ("mobile-to-phablet",				$mobile,				$phablet),
  ("phablet-to-tablet",				$phablet,				$tablet),
  ("tablet-to-narrow",				$tablet,				$narrow),
  ("narrow-to-desktop",				$narrow,				$desktop),
  ("desktop-to-wide-desktop",	$desktop,				$wide-desktop)
);

/* Grid */

$gutters: 10px;
$columns: (
	(1, 			8.33333%),
	(2, 			16.66666%),
	(3, 			25%),
	(4, 			33.33333%),
	(5, 			41.66666%),
	(6, 			50%),
	(7, 			58.33333%),
	(8, 			66.66666%),
	(9, 			75%),
	(10, 			83.33333%),
	(11, 			91.66666%),
	(12, 			100%),
	("fifth", 20%)
);

// icon-#{icon-name} | height | width
$icons: (
  ("account",					24px,	24px)
);
