/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Masthead
 * - - - - - - - - - - - - - - - - - - - - - - - - */

 .masthead {
   background: #eee;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

   .menu {
     &-toggle {
       margin: 10px;
       display: inline-block;
       cursor: pointer;
     }

     &-label {
       display: none;
     }
     &-icon {
       background-image: url('../images/icons/icon-menu.svg');
       background-repeat: no-repeat;
       background-size: contain;
       background-position: center center;
       display: block;
       height: 40px;
       width: 40px;
     }
   }
 }
